doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Master - Login
  body 
    h1 Master Login 
    form(action="./home", method="POST")
      input(type="text", name="masterUsername", placeholder="username")
      input(type="password", name="masterPassword", placeholder="password")
      input(type="submit", value="Submit")
    if invalidCredentials 
      p(style="color:red") Wrong Username or Password
